@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html {
  font-family: 'Inter' !important;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter' !important;
  background: var(--body);
}

a {
  text-decoration: none !important;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

table tr {
  border-radius: 10px !important;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -ms-border-radius: 10px !important;
  -o-border-radius: 10px !important;
}

body > iframe {
  display: none !important;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

table {
  border-collapse: separate;
  border-spacing: 0 10px;
  margin-top: -10px;
  /* correct offset on first border spacing if desired */
}

td {
  border-style: solid none;
}

td:first-child {
  border-left-style: solid;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

td:last-child {
  border-right-style: solid;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

button,
select {
  text-transform: none;
}

[type='button'],
[type='reset'],
[type='submit'],
button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
  font-family: 'Inter' !important;
}

button:focus {
  outline: none;
}

fieldset,
ol,
ul {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  color: #cbd5e0;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  opacity: 1;
  color: #cbd5e0;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #cbd5e0;
}

[role='button'],
button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

label:hover .rs-checkbox-wrapper .rs-checkbox-inner:before {
  border: 1px solid #005aa9 !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
  border: 1px solid #ececec;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ececec;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ececec;
}
